<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}
    {% endblock %}
    <title>Photowatt Lab</title>

    {% block stylesheet %}

        {% stylesheets
            'assets/back/theme/css/morris.css'
            'assets/back/theme/css/bootstrap.min.css'
            'assets/back/theme/css/bootstrap-datetimepicker.min.css'
            'assets/back/theme/css/bootstrap-datetimepicker.min.css'
            'assets/back/theme/css/select2.min.css'
            'assets/back/theme/css/bootstrap-select.min.css'
            'assets/back/theme/css/mailbox.css'
            'assets/back/theme/css/jquery.slimscroll.css'
            'assets/back/theme/css/font-awesome.min.css'
            'assets/back/theme/css/glyphicons.css'
            'assets/back/theme/css/simple-line-icons.css'
            'assets/back/theme/css/ameffectsanimation.css'
            'assets/back/theme/css/buttons.dataTables.min.css'
            'assets/back/theme/css/dataTables.bootstrap4.min.css'
            'assets/back/theme/css/responsive.dataTables.min.css'
            'assets/back/theme/css/fixedHeader.dataTables.min.css'
            'assets/back/theme/css/buttons.css'
            'assets/back/theme/css/animate.css'
            'assets/back/theme/css/main.css'
            'assets/back/theme/css/theme.css'
            'assets/back/theme/css/vertical-overlay-menu.css'
            'assets/back/theme/css/horizontal-menu.css'
            'assets/back/theme/css/ecommerce_products_grid2.css'
            'assets/back/theme/css/main.media.css'
            'assets/back/theme/css/appdemo.css'
            'assets/back/css/notifications/notify.css'
            'assets/back/css/notifications/flat.css'
            'assets/back/css/overlaySpinner.css'
            'assets/back/css/design.css'
            filter='cssrewrite'
            output='css/compiled/main.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />

        {% endstylesheets %}

        <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
        <!--[if lt IE 9]> <script src="dist/html5shiv.js"></script> <![endif]-->

    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('faviconGE.png') }}" />
</head>

<body class="page-sidebar-closed page-sidebar-menu-border  page-sidebar-fixed ">

    <div class="loading">Loading&#8230;</div>

    {{ render(controller('AppBundle:Layout/Layout:renderTop')) }}

    {{ render(controller('AppBundle:Layout/Layout:renderMenu')) }}


    <div class="clearfix"> </div>

<div class="page-container">

    {{ render(controller('AppBundle:Layout/Layout:renderLeft')) }}

    <div class="page-content-wrapper animated fadeInRight">

        {% block pageHeader %}{% endblock %}

        <div class="page-content">
            <div class="wrapper border-bottom page-heading">
                <div class="col-lg-12">
                    {% block titleArianne %}
                    {% endblock %}
                    <ol class="breadcrumb">
                        {% if is_granted('ROLE_USER') %}
                            <li class="breadcrumb-item">
                                {#<a href="{{ path('back_accueil') }}">Dashboard</a>#}
                            </li>
                        {% else %}
                            <li class="breadcrumb-item">
                                <a href="">Dashboard</a>
                            </li>
                        {% endif %}
                        {% block filAriane %}
                        {% endblock %}
                    </ol>
                </div>
            </div>
            <div class="wrapper-content ">
                {% block body %}
                {% endblock %}
                <div class="footer">
                    <div> <strong>Copyright</strong> DAWAP &copy; 2017-2018 </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="scrollup"><i class="fa fa-chevron-up"></i></a>

    {% block javascripts %}

        {% javascripts
            'assets/back/theme/js/vendor/jquery.min.js'
            'assets/back/theme/js/vendor/tether.min.js'
            'assets/back/theme/js/vendor/bootstrap.min.js'
            'assets/back/theme/js/vendor/amcharts/amcharts.js'
            'assets/back/theme/js/vendor/amcharts/serial.js'
            'assets/back/theme/js/vendor/amcharts/pie.js'
            'assets/back/theme/js/vendor/amcharts/gantt.js'
            'assets/back/theme/js/vendor/amcharts/funnel.js'
            'assets/back/theme/js/vendor/amcharts/radar.js'
            'assets/back/theme/js/vendor/amcharts/amstock.js'
            'assets/back/theme/js/vendor/amcharts/ammap.js'
            'assets/back/theme/js/vendor/amcharts/worldLow.js'
            'assets/back/theme/js/vendor/amcharts/light.js'
            'assets/back/theme/js/vendor/jquery.slimscroll.js'
            'assets/back/theme/js/vendor/select2.min.js'
            'assets/back/theme/js/vendor/bootstrap-select.min.js'
            'assets/back/theme/js/vendor/jquery.dataTables.js'
            'assets/back/theme/js/vendor/dataTables.bootstrap4.min.js'
            'assets/back/theme/js/vendor/jquery-ui.js'
            'assets/back/theme/js/vendor/dataTables.buttons.min.js'
            'assets/back/theme/js/vendor/buttons.flash.min.js'
            'assets/back/theme/js/vendor/jszip.min.js'
            'assets/back/theme/js/vendor/pdfmake.min.js'
            'assets/back/theme/js/vendor/vfs_fonts.js'
            'assets/back/theme/js/vendor/buttons.html5.min.js'
            'assets/back/theme/js/vendor/buttons.print.min.js'
            'assets/back/theme/js/vendor/dataTables.responsive.min.js'
            'assets/back/theme/js/vendor/dataTables.fixedHeader.min.js'
            'assets/back/theme/js/vendor/jquery.mobile.custom.min.js'
            'assets/back/theme/js/vendor/hTimeline.js'
            'assets/back/theme/js/vendor/hTimeline.js'
            'assets/back/theme/js/vendor/flotCart/jquery.flot.js'
            'assets/back/theme/js/vendor/flotCart/jquery.flot.tooltip.min.js'
            'assets/back/theme/js/vendor/flotCart/jquery.flot.resize.js'
            'assets/back/theme/js/vendor/flotCart/jquery.flot.resize.js'
            'assets/back/theme/js/vendor/icheck.js'
            'assets/back/theme/js/vendor/bootstrap-wysiwyg.js'
            'assets/back/theme/js/vendor/jquery.hotkeys.js'
            'assets/back/theme/js/vendor/pace/pace.min.js'
            'assets/back/theme/js/main.js'
            'assets/back/theme/js/appdemo.js'
            'assets/back/js/notifications/notify.js'
            'assets/back/js/select2/select2.js'
            'assets/back/js/moment/moment.js'
            'assets/back/js/modals/modals.js'
            'assets/back/js/ckeditor_custom/ckeditor.js'
            output='js/compiled/main.js'
        %}
        <script src="{{ asset_url }}"></script>

        {% endjavascripts %}


        <script>

            // Tooltips Initialization

            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

            function hauteurEgale(group) {
                var cibles = group.find('.widgets-container');
                tallest = 0;
                cibles.each(function() {
                    thisHeight = $(this).height();
                    if (thisHeight > tallest) {
                        tallest = thisHeight;
                    }
                });
                cibles.each(function() {
                    $(this).height(tallest);
                });
            }

            $(document).ready(function() {

                //region JS - Globals Init

                $('.select2').select2();

                $('.dataTableJS').DataTable( {
                    "pageLength": 50,
                    "order": [[ 0, "desc" ]],
                    "language": {
                        "lengthMenu": "Affiche _MENU_ résultats par page",
                        "zeroRecords": "Aucun résultat - Désolé",
                        "info": "Affiche la page _PAGE_ sur _PAGES_",
                        "infoEmpty": "Pas de résultat",
                        "infoFiltered": "(filtered from _MAX_ total records)",
                        "search": "Filter dans la liste ci-dessous :",
                        "paginate": {
                            "first":      "Premier",
                            "last":       "Dernier",
                            "next":       "Suivant",
                            "previous":   "Précédent"
                        },
                        "loadingRecords": "Chargement ...",
                        "processing":     "En cours ..."
                    },
                    "autoWidth": false
                });

                hauteurEgale($(".equalPanels"));

                $('.loading').fadeOut('hide');

                $('.loadingOn').each(function(){
                    $(this).click(function(){
                        $('.loading').fadeIn('slow');
                    })
                });


                //endregion




            });

        </script>

    {% endblock %}


    {% block rightsidebar %}

    {% endblock %}

</body>

{% block modals %}

{% endblock %}

</html>
