<div class="page-header navbar dark-madison-bg">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href="" style="padding-top : 10px; padding-bottom : 10px;height : 80px;">
                {#<img class="logo-default" alt="logo" src="{{ asset('assets/app/images/logos/Photowatt_LogoCouleur.png') }}" style="margin-top : 13px; height : 30px;">#}
            </a>
        </div>
        <div class="sidebar-close-logo">
            <a href="">
                {#<img class="logo-default" alt="logo"  src="{{ asset('assets/app/images/logos/Photowatt_LogoCouleur.png') }}">#}
            </a>
        </div>
        {#<div class="library-menu">#}
            {#<span class="one">-</span>#}
            {#<span class="two">-</span>#}
            {#<span class="three">-</span>#}
        {#</div>#}
        <a class="mobile-sub-link hidden-md-up">
            <i class="fa fa-ellipsis-v"></i>
        </a>
        <div class="top-menu">
            <div class="hor-menu hidden-sm-down">
                <ul class="nav">
                    <li class="nav-item" style="height : 80px;">

                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav pull-right hidden-sm-down">
                 <li class="dropdown dropdown-user">
                    <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle"
                       href="javascript:;" style="padding-top : 30px;">
                        <i class="fa fa-user"></i>
                        {#<span class="username username-hide-on-mobile"> ({{ app.user.username }})</span>#}
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">=
                        <li>
                            {#<a href="{{ path('fos_user_profile_show') }}"> <i class="icon-user"></i> Mon profil </a>#}
                        </li>
                        <li>
                            {#<a href="{{ path('fos_user_profile_edit') }}"> <i class="icon-user"></i> Modifier mon profil </a>#}
                        </li>
                        <li class="divider"></li>
                        <li>
                            {#<a href="{{ path('fos_user_security_logout') }}"> <i class="icon-key"></i> Déconnexion </a>#}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


